.headerContent .container {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.headerContent .container div {
    flex-grow: 1;
    flex-shrink: 2;
}

.principalContent .container {
    display: flex;
    margin-top: 60px;
}


.leftContent {
    flex-grow: 1;
    flex-shrink: 2;
    width: 3%;
}

.completedDiv {
    border: 1px solid #fff;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.rightContent {
   flex-grow: 2.2;
   flex-shrink: 2;
   margin-left: 5px;
}